.container {
  min-width: 250px;
}

.row {
  padding: 0.3rem;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.propName {
  font-weight: bold;
}

.propValueCol {
  padding-left: 0.5rem;
}