body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-popup-content {
  width: auto !important;
  min-width: 0;
}

.app-root {
  position: relative;
}

.MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.MuiOutlinedInput-root:focus .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.MuiCircularProgress-colorPrimary {
  color: rgba(255, 255, 255, 0.6);
}

.app-root .rc-slider-disabled .rc-slider-track {
  background-color: #e9e9e9;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-thumb {
  height: 32px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(127, 132, 159, 0.2);
}

::-webkit-scrollbar:window-inactive {
  display: none;
}